*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.bin

*.lock

*.ser

\.gradle/4\.10\.1/fileHashes/

\.idea/libraries/Gradle__com_android_support_recyclerview_v7_27_1_0_aar\.xml

\.idea/libraries/Gradle__com_android_support_support_annotations_27_1_0_jar\.xml

\.idea/libraries/Gradle__android_arch_core_runtime_1_1_0_aar\.xml

\.idea/libraries/Gradle__android_arch_lifecycle_common_1_1_0_jar\.xml

\.idea/libraries/Gradle__android_arch_lifecycle_livedata_core_1_1_0_aar\.xml

\.idea/libraries/Gradle__android_arch_lifecycle_runtime_1_1_0_aar\.xml

\.idea/libraries/Gradle__android_arch_lifecycle_viewmodel_1_1_0_aar\.xml

\.idea/libraries/Gradle__com_android_support_animated_vector_drawable_27_1_0_aar\.xml

\.idea/libraries/Gradle__com_android_support_appcompat_v7_27_1_0_aar\.xml

\.idea/libraries/Gradle__com_android_support_preference_v7_27_1_0_aar\.xml

\.idea/libraries/Gradle__com_android_support_support_compat_27_1_0_aar\.xml

\.idea/libraries/Gradle__com_android_support_support_core_ui_27_1_0_aar\.xml

\.idea/libraries/Gradle__android_arch_core_common_1_1_0_jar\.xml

\.idea/libraries/Gradle__com_android_support_support_core_utils_27_1_0_aar\.xml

\.idea/libraries/Gradle__com_android_support_support_fragment_27_1_0_aar\.xml

\.idea/libraries/Gradle__com_android_support_support_media_compat_27_1_0_aar\.xml

\.idea/libraries/Gradle__com_android_support_support_v4_27_1_0_aar\.xml

\.idea/libraries/Gradle__com_android_support_support_vector_drawable_27_1_0_aar\.xml

\.idea/workspace\.xml
